.container {
  max-width: 900px;
}

.footer {
  padding-top: 40px;
}

.footer .copyright {
  text-align: center;
}

.footer .copyright > strong {
  color: #68A856;
}

.waiting-room-title {
  text-align: center;
}

.waiting-room-title > h1 {
  font-size: 24px;
}

.waiting-form {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #68A856;
}

.waiting-form .waiting-form_title {
  background-color: #68A856;
  color: #fff;
  padding: 8px 10px;
}

.waiting-form .waiting-message {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin: 40px 0;
}

.waiting-form .waiting-form_body {
  padding: 10px;
}

.waiting-form .waiting-form_body .required-mark {
  color: red;
}

.waiting-form .waiting-form_body label {
  font-weight: bold;
}

.waiting-form .waiting-form_body .btn-warning {
  color: #fff;
  font-weight: bold;
}

.waiting-users .waiting-user_item {
  padding: 10px;
  display: flex;
  text-align: left;
}

.waiting-users .waiting-user_item .waiting-user_icon {
  display: flex;
  font-size: 46px;
  color: #555555;
}

.waiting-users .waiting-user_item .waiting-user_info {
  flex: 1;
  margin-left: 10px;
  color: #333;
}

.waiting-users .waiting-user_item .waiting-user_info .waiting-user_name {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 5px;
}

.waiting-users .waiting-user_item .waiting-user_info .waiting-user_reason {
  margin-bottom: 0;
  color: #777;
}

.waiting-users .waiting-user_item .waiting-user_info .waiting-user_id {
  margin-bottom: 0;
  color: #777;
}

.waiting-users .waiting-user_item .waiting-user_status {
  padding-right: 30px;
  padding-left: 10px;
}

.waiting-form_empty {
  text-align: center;
  padding: 40px;
}

